/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin:wght@400;500;700&family=Poppins:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600&display=swap');

/*=============== VARIABLES ===============*/
:root {
    --body-font: 'Kaisei Tokumin', serif;
    --logo-font: 'Dancing Script', cursive;

    /* COLORS 60-30-10 rule */
    --dominant-color: #d6f3e7;
    --card-bg-color: #fffffe;
    --secondary-color-title: #00473e;
    --secondary-color-text: #475d5b;
    --accent-color: #faae2b;
}

/*=============== BASE ===============*/
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    color: var(--secondary-color-text);
    font-family: var(--body-font);
}

a {
    text-decoration: none;
    color: var(--secondary-color-text);
}

li {
    list-style: none;
}

input, button {
    outline: none;
    border: none;
}

/*=============== REUSABLE CLASSES ===============*/
.btn {
    background-color: var(--secondary-color-title);
    width: 150px;
    border-radius: 25rem;
    margin: 0 auto;
    transition: .4s;
}

.btn span, .btn a {
    color: var(--card-bg-color);
}

.btn:hover {
    background-color: var(--accent-color);
    transform: scale(1.1);
}

.btn i {
    color: var(--card-bg-color);
}

.banner {
    background-color: var(--card-bg-color);
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, 
                rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, 
                rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    height: auto;
    margin-block: 5rem;
}

.banner img {
    width: 400px;
}

/*=============== NAVBAR ===============*/
.navbar {
    background-color: var(--dominant-color);
    z-index: 10000;
}

.nav_logo {
    width: 100px;
}

#nav_menu {
    z-index: 1000;
}

.nav_link {
    border-bottom: 2px solid transparent;
    transition: .3s;
}

.nav_link:hover {
    color: var(--secondary-color-title);
    border-bottom: 2px solid var(--secondary-color-title);
}

#nav_toggle {
    cursor: pointer;
    font-size: 1.1rem;
    background-color: transparent;
    padding: .3rem;
    border-radius: 25rem;
    font-size: 1.2rem;
    font-weight: 600;
    transition: .3s;
}

#nav_toggle:hover {
    background-color: var(--accent-color);
}

#nav_shop {
    background-color: transparent;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 600;
    padding-inline: .4rem;
    padding-block: .1rem;
    border-radius: 25rem;
    transition: .3s;
}

#nav_shop:hover {
    background-color: var(--accent-color);
}

.icon_container {
    width: max-content;
}

.shop-icon_container {
    position: relative;
}

.shop-icon_container .counter {
    margin: 0;
    position: absolute;
    font-size: .65rem;
    font-weight: 600;
    top: .1rem;
    right: -.1rem;
    padding-inline: .3rem;
    background: var(--accent-color);
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
}

.shop-icon_container:hover span {
    background: var(--secondary-color-text);
    color: var(--card-bg-color);
}

.bag {
    position: fixed;
    top: 0;
    right: -100%;
    width: 360px;
    height: 100%;
    padding: 20px;
    background-color: var(--dominant-color);
    box-shadow: -2px 0 4px var(--secondary-color-text);
    z-index: 10000;
    transition: .4s;
}

.bag.active {
    right: 0;
}

.bag_box {
    display: grid;
    grid-template-columns: 32% 50% 18%;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.detail_box {
    row-gap: .5rem;
}

.bag_prod-title {
    font-size: .75rem;
}

.bag_quantity {
    border: 1px solid var(--secondary-color-title);
    width: 2.4rem;
    text-align: center;
    font-size: .85rem;
}

.remove_item {
    font-size: 1.5rem;
    color: #f52626c2;
    cursor: pointer;
    transition: .4s;
}

.remove_item:hover {
    transform: scale(1.1);
}

.total {
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
    border-top: 1px solid var(--secondary-color-title);
}

.total_title, .total_price {
    font-size: .95rem;
}

.buy_btn {
    color: var(--card-bg-color);
    background-color: var(--secondary-color-title);
    padding: .5rem 1rem;
    border-radius: 25rem;
    display: flex;
    margin: 2rem auto;
    transition: .4s;
}

.buy_btn:hover {
    background-color: var(--accent-color);
    transform: scale(1.1);
}

.close_btn {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    font-size: 1.4rem;
    background-color: transparent;
    padding-inline: .45rem;
    border-radius: 25rem;
    cursor: pointer;
    transition: .4s;
}

.close_btn:hover {
    background-color: var(--accent-color);
}

/*=============== HOME ===============*/
.home {
    margin-top: 5rem;
    margin-bottom: 5rem;
    background-color: var(--card-bg-color);
}

.highlight {
    font-family: var(--logo-font);
    font-weight: 600;
    font-size: 5rem;
}

#home_social {
    display: flex;
}

/*=============== FEATURE ===============*/
.feature {
    background-color: var(--dominant-color);
}

.feature_title {
    width: 160px;
    margin: 0 auto;
    border-bottom: 2px solid var(--secondary-color-title);
}

/* FEATURE PRODUCTS CARD */
.product-box {
    background-color: var(--card-bg-color);
    border-radius: 10px;
}

.product-inner-box .icons {
    right: 15px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    top: -3%;
    opacity: 0;
    transition: all .2s ease-in-out,
                tranform .2s ease-in-out, 
                opacity .2s ease-in-out;
}

.product-inner-box .icons i {
    font-weight: 600;
    color: var(--card-bg-color);
}

.product-inner-box .icons a {
    padding-inline: .3rem;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    background: var(--accent-color);
}

.product-inner-box .onsale .badge {
    position: absolute;
    background: var(--accent-color);
    font-size: 12px;
    padding: 5px 14px;
    top: 0;
    left: 0;
}

.product-inner-box .onsale .badge::before {
    content: '';
    position: absolute;
    right: -8px;
    bottom: 0;
    width: 0;
    border-width: 10px 0 0 10px;
    border-color: transparent transparent transparent var(--accent-color);
    border-style: solid;
}

.product-inner-box .onsale .badge::after {
    content: '';
    position: absolute;
    right: -8px;
    top: 0;
    width: 0;
    border-width: 10px 10px 0 10px;
    border-color: var(--accent-color) transparent transparent;
    border-style: solid;
}

.product-inner-box img {
    box-shadow: 0 33px 61px -29px #00000042;
    border-radius: 10px 10px 0 0;
    height: 100%;
    width: 100%;
    object-fit:contain;
}

.product-box.is-hover .icons {
    transform: rotateY(-3%);
    top: 3%;
    opacity: 1;
}

.cart-btn {
    position: absolute;
    bottom: 20px;
    text-align: center;
    width: 100%;
    opacity: 0;
    transition: all .2s ease-in-out,
                tranform .2s ease-in-out, 
                opacity .2s ease-in-out;
}

.product-box.is-hover .cart-btn {
    opacity: 1;
}

.product-info {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

/* NEW ITEMS */
#item_card {
    position: relative;
    overflow: hidden;
    background-color: var(--card-bg-color);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, 
                rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, 
                rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border-radius: 10px;
    margin: 0 auto;
}

.new_button {
    background: var(--accent-color);
    padding: .5rem;
    border-radius: 10px;
    color: var(--card-bg-color);
    font-weight: 600;
    transition: .4s;
}

.new_button:hover {
    color: var(--card-bg-color);
    transform: scale(1.1);
}

.overlay_box {
    position: absolute;
    left: 0;
    bottom: -100%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(138, 138, 138, .3);
    transition: .3s;
}

#item_card:hover .overlay_box {
    bottom: 0;
}

/*=============== ABOUT ===============*/
.about_text {
    text-align: justify;
}

/*=============== SUBSCRIBE ===============*/
.subscribe {
    background-color: var(--dominant-color);
}

#newsletter {
    background-color: var(--card-bg-color);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, 
                rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, 
                rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    padding: 2.5rem;
    border-radius: 10px;
}

.newsletter_text {
    font-size: 1.2rem;
    font-weight: 600;
}

#newsletter_input {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
}

.email {
    border-left: 2px solid var(--secondary-color-text);
    border-block: 2px solid var(--secondary-color-text);
    border-radius: 25rem 0 0 25rem;
    width: 60%;
    height: 50px;
    padding-left: 20px;
}

.button {
    position: relative;
    width: 30%;
    height: 50px;
    left: -4px;
    border: 2px solid var(--secondary-color-text);
    border-radius: 0 25rem 25rem 0;
    background-color: var(--secondary-color-text);
    color: var(--card-bg-color);
    transition: .3s;
}

#newsletter_input:hover .button {
    background-color: var(--accent-color);
}

.borderline {
    border: 1px solid #a0a0a048;
}

/*=============== FOOTER ===============*/
.footer {
    background-color: var(--dominant-color);
}

#footer_container {
    justify-content: space-between;
}

.footer_title {
    display: flex;
    align-items: flex-start;
    font-size: 1rem;
    font-weight: 600;
}

.footer_title:is(:first-child), .footer_list:is(:first-child) {
    padding-left: 2rem;
}

.footer_list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    row-gap: 1rem;
}

.footer_list a {
    color: var(--secondary-color-text);
    font-size: .75rem;
    border-bottom: 2px solid transparent;
    transition: .4s;
}

.footer_list a:hover {
    color: var(--secondary-color-title);
    border-bottom: 2px solid var(--secondary-color-text);
}

.social_box i {
    font-size: 1.5rem;
    margin: .6rem;
    background-color: transparent;
    padding: .5rem;
    border-radius: 25rem;
    color: var(--secondary-color-title);
    transition: .4s;
}

.footer_social:hover i {
    color: var(--card-bg-color);
    background-color: var(--accent-color);
}

.footer_rights {
    margin-block: 2rem;
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
}

/*=============== SHOP ===============*/
.shop {
    padding-block: 10rem;
}

/*=============== TAGS ===============*/
.tag_list {
    padding-left: 0;
    padding-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 2rem;
    font-size: 1.1rem;
    font-weight: 600;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 10px 20px -20px;
}

.tag a {
    border-bottom: 2px solid transparent;
    width: 0;
    transition: .3s;
}

/* .tag:is(:first-child) {
    border-bottom: 2px solid var(--secondary-color-title);
} */

.tag:hover a {
    width: 100%;
    color: var(--secondary-color-title);
    border-bottom: 2px solid var(--secondary-color-title);
}

.active_btn {
    border-bottom: 2px solid var(--secondary-color-title);
}

/*=============== SHOP PAGE-NUMER ===============*/
.shop_pages {
    flex-direction: row;
}

.shop_page {
    font-size: .85rem;
    font-weight: 600;
    border: 2px solid black;
    padding-inline: .5rem;
    cursor: pointer;
}

.shop_page:is(:first-child) {
    background-color: var(--accent-color);
}

/*=============== DROPDOWN LIST ===============*/

/*=============== SCROLLBAR ===============*/
::-webkit-scrollbar {
    width: .85rem;
    scroll-behavior: smooth;
}

::-webkit-scrollbar-track {
    background: transparent;
    margin-block: .2rem;
    border-radius: 100vw;
}

::-webkit-scrollbar-thumb {
    background: var(--dominant-color);
    border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--accent-color);
}

/*=============== MEDIA QUERIES ===============*/
@media screen and (max-width: 800px) {
    .offer_btn {
        margin-bottom: 2rem;
    }

    .about_text {
        font-size: .9rem;
        text-align: justify;
    }

    #home_social {
        order: 2;
        flex-direction: column;
        width: max-content;
        position: absolute;
        z-index: 1000;
    }

    #carousel_container {
        order: 3;
    }

    #newsletter_input {
        justify-content: center;
    }
}

@media screen and (max-width: 570px) {
    .newsletter_text {
        font-size: 1.2rem;
    }

    #newsletter_input {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .email {
        width: 100%;
        height: 3rem;
        border: 2px solid var(--secondary-color-title);
        border-radius: 25rem;
    }

    .button {
        font-size: .95rem;
        margin-block: 1rem;
        width: 100px;
        height: 3rem;
        border: 2px solid var(--secondary-color-title);
        border-radius: 25rem;
    }
}